.game-template{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    
    background-color: rgb(123, 140, 158);

    box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.9);
}
.game-template-dark{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    
    background-color: rgb(56, 62, 71);

    box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.9);
}
.game-introduction{
    background-color: rgb(228, 228, 228);
    width: 500px;
    height: 550px;
    border-radius: 5%;
    margin-top: 80px;
}
.hello-intro{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 5px;

}
.hello-title-intro{
    font-size: 25px;
    margin-top: 5px;
    margin-left: 10px;
}
.description-intro{
    font-size: 20px;
    color: slategray;
}
.icons-description{
    display: flex;
    justify-content: space-around;
  
    margin-top: 20px;
    color: slategray;
}
.fa.fa-clock-o {
    
    font-size: 25px;
}
.fa.fa-bar-chart {
    font-size: 25px;
}
.fa.fa-star-half-o{
    font-size: 25px;
}
.icon-content {
    display: flex;
    flex-direction: column;
}
.icon{
    display: flex;
    align-items: center;
}
.icon i{
    margin-right: 5px
}
.btn.mt-2{
    width: 163px;
    height: 36px;
}

.buttons{
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.leftArrow{
    position: absolute;
    cursor: pointer;
}
.img-gif{
    display: flex;
    justify-content: center;
}
.img-gif img{
    width: 400px;
    height: 200px;
    border-radius: 20px;
}