
.image{
    width: 530px;
    height: 300px;
     background-image: url('../../assets/imgs/ListenAndLerning1.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

audio{
    display: block;
    width: 530px;
    height: 35px;
    background-color: rgb(54, 54, 131);
    border-radius: 3%;
}


.text-listen{
    margin-top: 15px;
    font-size: 35px;

}
.next{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: green;
    border-radius: 5%;
    width: 120px;
    height: 35px;
    margin: 50px;
    cursor: pointer;
  
}
.response{
    color: slategray;
    font-weight: 600;
    
}

.text-listen .response {
    font-size: 30px;
}
.text-listen .response2 {
    color: slategray;
    font-weight: 600;
    font-size: 30px;
}
.text-listen .response3 {
    color: slategray;
    font-weight: 600;
    font-size: 30px;;
}
.text-listen .response4 {
    color: slategray;
    font-weight: 600;
    font-size: 30px;
}
.text-listen .error-text {
    color: red;
    font-weight: 600;
    font-size: 25pt;
}