.title{
    font-size: 45px;
 
}
.menu-content {
   width: 500px;
   margin-left: 50px;
   margin-top: 70px;
}
.menu-content p{
    font-size: 20px;

}
.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.buttons-authentication{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.login-msg{
    padding: 5px;
    
}
.register-content {
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.btn{
    background-color: palegoldenrod;
}