.content{
    display: flex;
    justify-content: center;
}
.review{
    font-size: 14px;
line-height: 1.5;
margin: 20px auto 0;
padding-left: 15px;
padding-bottom: 15px;
padding-right: 15px;
text-align: center;
}
.review_name{
    font-weight: 800;
}
.feedbacks {
    margin-top: 80px;
    width: 800px;
}
.feedback-title{
    font-weight: bolder;
    font-size: 25px;
}