
.image{
    width: 530px;
    height: 300px;
     background-image: url('../../assets/imgs/ListenAndLerning1.jpg');
    background-repeat: no-repeat;
    background-position: center;

}

audio{
    display: block;
    width: 530px;
    height: 35px;
    background-color: rgb(54, 54, 131);
    border-radius: 3%;
}

.text{
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.541);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.response {
    color: slategray;
    font-weight: 600;
    
}
.translate-title{
    text-align: center;
}
.translate{
       font-size: 35px;
       display: flex;
}
.translate div {
    margin: 5px;
}

