.info-wrapper{
    position: relative;
    background-color: white;
    color:black;
    height: 370px;
    width: 350px;
    padding: 10px;
    box-shadow: 0 10px 20px 0 rgba(33,33,33,.9);
    margin-left: 70px;
}

.history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.795);
    padding: 10px;
    border-radius: 3px;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

.correct{
    color: green;
    background-color: rgba(0, 128, 0, 0.11);
    padding: 5px;
    width: 310px;
    margin: 2px 0px 2px 0px;
}
.incorrect{
    color: red;
    background-color: rgba(255, 0, 0, 0.116);
    padding: 5px;
    width: 311.2px;
    margin: 2px 0px 2px 0px;
}
